@media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .upload-container {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .upload-container {
            margin-top: 100px;
        margin-left: 35px; 
  }

}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #68376B;
}

input{
    width: 90%;
    margin: 10px;
}

.upload-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
  position: relative;
  width: 100%; /* solo per demo */
}

.input-container input {
  width: 100%;
  padding: 12px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

/* Label iniziale centrata verticalmente */
.input-container label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-60%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    background: transparent;
    padding: 0 4px;
}

/* Quando input ha focus o valore, il label sale su */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -8px;
  transform: none;
  font-size: 12px;
  color: #68376B;
}

.input-container input:focus {
  border-color: #68376B;  /* stesso colore della label */
  box-shadow: 0 0 4px rgba(104, 55, 107, 0.4); /* alone viola */
}


.btn-container {
  width: 40%;               /* larghezza contenitore */
  display: flex;
  justify-content: center;  /* bottone centrato */
}

.upload-btn {
  width: 100%;                /* prende tutta la larghezza del contenitore */
  padding: 12px 16px;
  background-color: #f6ffa2;  /* giallo chiaro */
  color: #68376B;             /* viola */
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover: inverti i colori */
.upload-btn:hover {
  background-color: #f4ff92;
  color: #68376B;
  transform: translateY(-2px);
}

/* Click */
.upload-btn:active {
  transform: translateY(0);
}
