<!-- forgot-password.component.html -->
<div class="forgot-container">
   <img class="logo" src="assets/img/logo.png" alt="WattWisee" />
  <h1>Reset Password</h1>
  <div class="actions">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required>
    </div>
    
    <button class="forgot-btn" type="submit">Send Reset Link</button>
  </form>
  
  <div *ngIf="message" class="success-message">{{ message }}</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
  
  <a routerLink="/login">Go back to the Login page</a>
  </div>
</div>
    <div class="back-button">
    <app-back-button></app-back-button>
    </div>
