<div class="forgot-container">
  <div class="actions">
    <img class="logo" src="assets/img/logo.png" alt="WattWisee" />
    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" novalidate>
      <input 
        type="email" 
        placeholder="Enter your email" 
        class="email-input"
        name="email"
        [(ngModel)]="email"
        required
        email
        #emailInput="ngModel"
        autocomplete="email"
      />
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error">
        <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
        <small *ngIf="emailInput.errors?.['email']">Please enter a valid email.</small>
      </div>

      <button type="submit" class="forgot-btn" [disabled]="forgotForm.invalid">Send</button>
    </form>
    <p class="message" *ngIf="message">{{ message }}</p>
  </div>
</div>
