/* Contenitore principale: centrato verticalmente e orizzontalmente */
.forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #c1dbe3;
}

/* Logo centrato e dimensionato */
.logo {
    width: 200px;
    margin: 0 auto 50px;
    display: block;
}

.form-group input {
    background: #31545b;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;;
}

/* Contenitore azioni (login, create-account) */
.actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.forgot-btn {
    background-color: #31545b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.forgot-btn:hover {
    background-color: #f6ffa2;
    color: #000000;
    transition: 0.3s;
}

/* Linea decorativa con testo */
.line {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #2d5558;
    font-size: 14px;
    margin-bottom: 16px;
}

.line hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #31545b;
    opacity: 0.3;
}