.back {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #31545b;
  cursor: pointer;
}

.back:hover {
  opacity: 0.8;
}


/*.back-button {
  display: flex;
  align-items: flex-start;
  background-color: #c1dbe3;
  flex-direction: column;
}*/
