[build]
  base = "."
  command = "npm ci && npx ng build WattWisee --configuration production"
  publish = "frontend/dist/WattWisee"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
