//color variables
$lightblue: #c1dbe3;
$blue: #31545b;
$yellow: #f6ffa2;
$black: #000000;
$white: #ffffff;

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $white;
}