/* Sfondo verde acqua della tabella */
.custom-table {
  background-color: #49a293;
  color: white;
  border-collapse: collapse; /* importante per bordi puliti */
  width: 100%;
}
.content{
    text-align: center;
    margin: 20px auto;
}

@media screen and (min-width: 720px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .checklist-container {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}


/* Bordo bianco sottile e testo bianco */
.custom-table th,
.custom-table td {
  border: 1px solid white;
  vertical-align: middle;
  padding: 8px 12px;
}

/* Sfondo bianco per le celle con commenti e testo scuro */
.observations {
  background-color: white;
  color: #002f36; /* colore petrolio scuro */
  text-align: left;
  font-weight: normal;
}

/* Checkbox centrata */
.checkbox-cell {
  text-align: center;
}

/* Riduzione dimensione checkbox */
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: default;
}

/* Testo delle intestazioni centrato */
.custom-table thead th {
  text-align: center;
  vertical-align: middle;
}

/* Testo colonna "Yes, No, N/A" larghezza fissa e centrata */
.yes-no-na {
  width: 50px;
}
