.content {
  text-align: center;
  margin: 20px auto;
}

@media screen and (min-width: 720px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 720px */
  .checklist-container {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

/* Celle e intestazioni: bordo bianco sottile */
.custom-table th,
.custom-table td {
  border: 1px solid white;
  vertical-align: middle;
  padding: 8px 12px;
}

/* Testo intestazioni centrato */
.custom-table thead th {
  text-align: center;
  vertical-align: middle;
}

/* Colonna Yes/No/N.A. con larghezza fissa */
.yes-no-na {
  width: 50px;
  text-align: center;
}

/* Celle della colonna "Observations & Comments" */
.observations {
  text-align: left;
  font-weight: normal;
}

/* Checkbox centrata e ridotta */
.checkbox-cell {
  text-align: center;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: default;
}


