<header>
  <app-menu></app-menu>
</header>

<div class="project-container">

  <!-- Titolo + pulsante -->
  <div class="title-container">
    <h2>Your projects</h2>
  </div>

  <!-- Barra di ricerca -->
  <div class="search-bar">
    <input type="text" placeholder="Search projects..." [(ngModel)]="searchTerm" (input)="filterProjects()" />
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-search">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
      <path d="M21 21l-6 -6" />
    </svg>
  </div>

  <!-- Lista dei progetti -->
  <div class="project-list">
    <ul>
      @for (project of filteredProjects; track project._id) {
      <li>
        <a [routerLink]="['/upload-bills-id', project._id]" style="text-decoration: none; color: inherit;">
          <img [src]="project.buildings[0]?.imageUrl" alt="Building image" width="200"
            style="border-radius: 4px; margin-bottom: 10px;">
          <p>{{ project.projectName }}</p>
        </a>
      </li>
      }
    </ul>

    <!-- Messaggio se nessun progetto -->
    @if (filteredProjects.length === 0) {
    <p style="text-align: center; margin-top: 30px;">No project found.</p>
    }
  </div>

</div>