/* Sfondo pagina */
.page {
    display:grid;
  justify-content: center;
  justify-items: center;
  min-height: 100dvh;
  background-color: #c1dbe3;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Logo */
.logo {
  width: 200px;
  display: block;
  margin: 0 auto 50px;
}

/* Card centrale */
.card {
  background: #31545b; /* verde scuro */
  padding: 40px 60px 40px 60px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  max-width: 90%;
  color: white;
}

h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
    font-size: 17px;
}


.add-btn {
  width: 130px;
  height: 130px;
  border: 3px dashed #c1dbe3;
  border-radius: 15px;
  background: #2c4b51;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.add-btn:hover {
  background: #3a5c63;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


.finish-btn {
  background: #ffff99;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 60px;
  width: 90%;
}


/* Barra scroll immagini */
.scroll-bar {
  width: 80%;
  height: 6px;
  background: #54696d;
  border-radius: 3px;
  margin: 15px auto;
  position: relative;
}

.scroll-thumb {
  width: 30%;
  height: 6px;
  background: #c8e2eb;
  border-radius: 3px;
}
