/* Sfondo pagina */
.page {
    display:grid;
  justify-content: center;
  justify-items: center;
  min-height: 100dvh;
  background-color: #c1dbe3;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Logo */
.logo {
  width: 200px;
  display: block;
  margin: 0 auto 50px;
}

/* Card centrale */
.card {
  background: #31545b; /* verde scuro */
  padding: 50px 80px 50px 80px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  max-width: 90%;
  color: white;
}

h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Input e pulsanti */
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background: #2c4b51;
  color: white;
}

input[type="file"] {
  color: white;
}

.upload-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.plus-btn {
  width: 38px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #2c4b51;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.confirm-btn {
  background: #c1dbe3;
border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 90%;
}

.finish-btn {
  background: #ffff99;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 90%
}

/* Buildings grid */
.buildings {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.building {
  text-align: center;
}

.img-placeholder {
  width: 80px;
  height: 80px;
  background: #cccccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.building img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

/* Barra scroll immagini */
.scroll-bar {
  width: 80%;
  height: 6px;
  background: #54696d;
  border-radius: 3px;
  margin: 15px auto;
  position: relative;
}

.scroll-thumb {
  width: 30%;
  height: 6px;
  background: #c8e2eb;
  border-radius: 3px;
}

.image-preview {
  display: flex;
  align-items: center;
}

.confirm-row,
.finish-row {
  display: flex;
  justify-content: center;
}