.new-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: #c1dbe3;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.logo {
  width: 80px;
  margin: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Card centrale */
.card {
  background-color: #31545b;
  align-items: center;
  border-radius: 15px;
  padding: 40px 30px;
  width: 360px;
  color: white;
  text-align: center;
}

/* Titolo */
.card h1 {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Label */
.card label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin: 15px 10px 5px;
}

/* Input campi testo */
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px 10px;
  background-color: #819496;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

/* Riga input foto + bottone + */
.building-row {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

/* Bottone + */
.add-btn {
  padding: 0 12px;
  font-size: 20px;
  background-color: #819496;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Bottone Confirm */
.confirm-btn {
  background-color: #faff89;
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 16px;
}

/* Galleria edifici */
.building-gallery {
  display: flex;
  gap: 12px;
  margin-top: 25px;
  justify-content: center;
}

/* Singolo edificio */
.building {
  text-align: center;
}

/* Immagine edificio o placeholder */
.building img,
.building .placeholder {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

/* Semitrasparente */
.building.empty .placeholder {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

/* Nome edificio */
.building p {
  margin-top: 5px;
  font-size: 13px;
}

/* Barre di paginazione */
.pagination-bar {
  margin-top: 10px;
  width: 40%;
  height: 4px;
  background-color: #cfd8dc;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}