@use '../app.scss' as *;

h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  margin: 0 0 10px 0;
  font-weight: 500;
}

a {
  color: $blue;
  text-decoration: none;
}

/* ================= CONTAINER ================= */
.wall-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.wall-header-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.wall-header-buttons {
  display: flex;
  gap: 10px;
}

.wall-header-buttons button {
  padding: 5px 10px;
  font-size: 12px;
}

.edit-building-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: $white;
}

.back-button {
  margin: 20px 0;
}

/* ================= CARD ================= */
.card {
  background-color: $white;
  border: 1px solid $lightblue;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.sub-card {
  background-color: #f9f9f9;
  border: 1px solid $lightblue;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sub-card.nested {
  background-color: #ffffff;
  border: 1px solid $lightblue;
  padding: 10px;
  border-radius: 4px;
}

/* ================= INPUT GRID ================= */
.input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.input-container {
  position: relative;
  margin-top: 10px;
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 10px 10px 10px 5px;
  border: 1px solid $lightblue;
  border-radius: 4px;
  background: $white;
  color: $blue;
  font-size: 14px;
}

.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $blue;
  font-size: 12px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label,
.input-container select:focus+label,
.input-container select:not([value=""])+label {
  top: -8px;
  left: 8px;
  font-size: 10px;
  background: $white;
  padding: 0 3px;
}

/* ================= BUTTONS ================= */
button {
  background-color: $blue;
  color: $white;
  border: 1px solid $blue;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.editzone-btn {
  background-color: #f6ffa2;
  color: $blue;
}

button:hover {
  background-color: #c1dbe3;
  color: $blue;
}

.save-btn {
  background-color: $blue;
  width: 100%;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* ================= SCROLLABLE ================= */
.scrollable {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 5px;
}

.scrollable-horizontal {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* ================= ERROR / LOADING ================= */
.error {
  color: #31545b;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid $lightblue;
  border-radius: 4px;
}

.loading {
  color: $blue;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

/* ================= MODAL ================= */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: $white;
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  width: 95%;
  gap: 35px;
  // max-width: 900px;
  max-height: 95%;
  overflow-y: auto;
  border: 1px solid $lightblue;
  display: flex;
  flex-direction: row;
}

.modal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $white;
  border-radius: 0;

  display: flex;
  flex-flow: column;
  padding-left: 0;
  padding-right: 0;
  min-width: 900px;

}

.modal-header h3 {
  margin: 0;
}

.modal-title-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* margin-top: 20px; */
}

.room-preview-container {
  border: 1px solid $lightblue;
  margin-top: 10px;
  width: 100%;
  height: 800px;
  position: relative;
  background-color: #fdfdfd;
  overflow: auto;
  padding: 150px;
  border-radius: 4px;

}

.input-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.modal-body {
  padding: 0;
  overflow: auto;
}

.cancel-btn {
  background-color: transparent;
  color: $blue;
}

.modal-btn {
  margin-top: 10px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* ================= MEDIA QUERIES ================= */
@media screen and (min-width: 770px) {

  .edit-building-container,
  .back-button {
    margin-left: 250px;
    /* compensazione menu fisso */
  }
}

@media screen and (max-width: 770px) {
  .edit-building-container {
    margin-top: 50px;
  }

  .input-grid {
    grid-template-columns: 1fr;
    /* colonna singola su mobile */
  }
}