@media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .edit-building-container, .back-button {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .edit-building-container {
    margin-top: 50px; 
  }

}

.back-button {
  display: flex;
  align-items: flex-start;
  background-color: #c1dbe3;
  flex-direction: column;
}

.edit-building-container {
  padding: 2rem;
  background: #c1dbe3;
}

.building-form, .section-card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

h2, h4{
  margin-bottom: 1rem;
  color: #31545b;
}

legend {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #31545b;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #31545b;
  color: #f6ffa2;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #f6ffa2;
  color: #31545b;
}




.input-container {
  position: relative;
  width: 100%; /* solo per demo */
}

.input-container input {
  width: 100%;
  padding: 12px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Label iniziale centrata verticalmente */
.input-container label {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-40%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    background: transparent;
    padding: 0 4px;
}

/* Quando input ha focus o valore, il label sale su */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  transform: none;
  font-size: 12px;
  color: #31545b;
}

.input-container input:focus {
  border-color: #31545b;  /* stesso colore della label */
  box-shadow: 0 0 4px #31545b; /* alone viola */
}
