<header>
  <app-menu></app-menu>
</header>

<div class="building-container" *ngIf="!isLoading && project">

  <!-- Titolo -->
  <div class="title-container">
    <h2>{{ project.projectName }}</h2>
  </div>

  <!-- Pulsante nuovo building -->
  <div class="add-building">
    <p>Buildings</p>
    @if (project._id) {
      <button class="newbuilding" [routerLink]="['/add-building', project._id]">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
      </button>
    }
  </div>

  <!-- Barra di ricerca -->
  <div class="search-bar">
    <input type="text" placeholder="Search buildings..." [(ngModel)]="searchTerm" (input)="filterBuildings()" />
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="icon icon-tabler icons-tabler-outline icon-tabler-search">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
      <path d="M21 21l-6 -6" />
    </svg>
  </div>

  <!-- Lista buildings -->
  <div class="building-list">
    <ul>
      @if (filteredBuildings.length) {
        @for (building of filteredBuildings; track trackByBuilding($index, building)) {
          <li>
            <a [routerLink]="['/building-info', building?._id]" style="text-decoration: none; color: inherit;">
              <img [src]="building?.imageUrl" alt="Building image" width="200"
                   style="border-radius: 4px; margin-bottom: 10px;">
              <p>{{ building?.name }}</p>
            </a>
          </li>
        }
      }
      @if (!filteredBuildings.length) {
        <p style="text-align: center; margin-top: 30px;">No building found.</p>
      }
    </ul>
  </div>

</div>
