<div class="bill-information-page">

  <div class="up">
    <img src="assets/img/logo.png" alt="WattWise logo" class="logo" />
    <button class="finish-btn" (click)="goBack()">Finish</button>
  </div>

  <div class="container">

    <h2>
      {{ 
        billType === 'electricity' ? 'Electricity bill information' :
        billType === 'oil' ? 'Oil bill information' :
        'LPG bill information'
      }}
    </h2>

    <p class="subtitle">We require 12 months bills for an accurate energy profile</p>


    <!-- UNICO FORM  -->
    <div class="form-container">
      <form (ngSubmit)="saveBill()">

        <div class="input-container" *ngFor="let field of getFields()">
          
          <!-- Normal input -->
          <ng-container *ngIf="field.type !== 'file'; else fileInput">
            <input 
              [type]="field.type"
              [(ngModel)]="currentBill.data[field.key]"
              [name]="field.key"
              placeholder=" "
            />
            <label>{{ field.label }}</label>
          </ng-container>

          <!-- File input -->
          <ng-template #fileInput>
            <input 
              type="file"
              (change)="onFileSelected($event, field.key)"
            />
            <label>{{ field.label }}</label>
          </ng-template>

        </div>

        <!-- SAVE BUTTON -->
        <div class="btn-container">
          <button type="submit" class="upload-btn">Save</button>
        </div>

      </form>
    </div>

  </div>


  <!-- NAVIGATION BUTTONS -->
  <div class="navigation-buttons">

    <!-- PREVIOUS -->
    <button 
      (click)="back()"
      [disabled]="currentIndex === 0"
      class="back-btn"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12h14" />
        <path d="M5 12l4 4" />
        <path d="M5 12l4 -4" />
      </svg>
      Previous
    </button>

    <p>{{ getIndicator() }}</p>

    <!-- NEXT -->
    <button 
      (click)="next()"
      class="skip-btn"
      [disabled]="isCurrentBillEmpty()"
    >
      Next
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M19 12H5" />
        <path d="M19 12l-4 4" />
        <path d="M19 12l-4 -4" />
      </svg>
    </button>

  </div>

</div>

<div class="back-button">
  <app-back-button></app-back-button>
</div>
