@media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .audit-container, .back-button {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .audit-container {
    margin-top: 50px; 
    padding: 32px 16px;
  }

}

.back-button {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
}


h2{
  color: #31545b;
}

/* Righe alternate azzurre e bianche */
.checklist-table tbody tr:nth-child(odd) td {
    background-color: #c1dbe3 !important; /* azzurro chiaro */
}

.checklist-table tbody tr:nth-child(even) td {
    background-color: #ffffff !important; /* bianco */
}

table {
  border-collapse: collapse; /* elimina gli spazi tra le celle */
}

td, th {
  border: none; /* rimuove i bordi delle celle */
}

.ber {
  display: flex;
  justify-content: center; /* Spazio uniforme tra gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  margin-top: 20px; /* Spazio sopra il contenitore */
  gap: 40px; /* Spazio tra i due elementi */
}

.actual, .potential {
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Allinea al centro orizzontalmente */
}

.actual span, .potential span {
  margin-top: 5px; /* Spazio tra il pulsante e il testo */
  font-size: 12px; /* Dimensione del testo */
}

.actual button {
  background-color: #FFF100;

}

.actual button, .potential button {
  width: 120px;
  height: 100px;
  font-weight: bold;
  color: #31545b; /* Colore del testo bianco */
  border: none; /* Rimuove il bordo */
  padding: 10px 20px; /* Spaziatura interna */
  text-align: center; /* Allinea il testo al centro */
  text-decoration: none; /* Rimuove la sottolineatura */
  display: inline-block; /* Permette di impostare larghezza e altezza */
  font-size: 50px; /* Dimensione del testo */
  margin: 4px 2px; /* Spaziatura esterna */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  border-radius: 4px; /* Angoli arrotondati */
}

.potential button {
  background-color: #00A651;
}