@media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .action-plan-container {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .action-plan-container {
    margin-top: 50px; 
  }

}

.action-plan-container {
display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  color: #31545b
}

h2{
  font-size: 45px;
}

/* Contenitore della lista */
ul {
  display: flex;
  flex-wrap: wrap;           /* manda a capo dopo 3 */
  gap: 16px;                 /* spazio tra i box */
  list-style: none;          /* rimuove i pallini */
  padding: 0;
  margin: 0;
}

/* Ogni elemento della lista */
li {
  flex: 1 1 calc(33.333% - 16px); /* 3 per riga con gap considerato */
  display: flex;
  justify-content: center;        /* centra il bottone orizzontalmente */
}

/* Bottone principale */
.menu-btn {
  display: flex;             /* indispensabile per flex-direction */
  flex-direction: column;    /* icona sopra testo */
  align-items: center;       /* centra orizzontalmente */
  justify-content: center;   /* centra verticalmente */
  gap: 12px;                 /* spazio tra icona e testo */
  
  width: 220px;
  height: 220px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
    color: #31545b;
}

.menu-btn:hover {
  background-color: #F8951E;
  transform: translateY(-3px);  /* effetto leggero hover */
}

.menu-btn .icon {
  display: flex;
    transform: scale(2); /* ingrandisce l'icona */
    color: #31545b;
}

.menu-btn .icon svg {
  width: 100%;
  height: 100%;

}

/* Testo */
.menu-btn .term {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
