html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space grotesk', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  /* copre anche su mobile */
  overflow-x: hidden;
}