  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .renewable-container{
    margin-top: 50px; 
    padding: 32px 16px;
  }
  }

  @media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .renewable-container {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}

h2{
  color: #31545b;
}

.data{
  background-color: #C1DBE3;
  radius: 4px;
  display: flex;
  justify-content: space-around; /* Spazio uniforme tra gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  margin-top: 20px; /* Spazio sopra il contenitore */
  gap:10px; /* Spazio tra i due elementi */
  width: 80%;
  
}

.kwh, .type, .co2{
  color: #31545b;
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
}

.kwh span, .type span, .co2 span {
  margin-top: 5px; /* Spazio tra il pulsante e il testo */
  font-size: 12px; /* Dimensione del testo */
}