  @media screen and (max-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .renewable-container{
    margin-top: 50px; 
  }
  }

  @media screen and (min-width: 770px) {
  /* Le regole qui dentro valgono solo per schermi larghi almeno 1024px */
  .renewable-container, .back-button {
    margin-left: 250px; /* ad esempio per compensare il menu fisso */
  }
}
.back-button {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  gap: 16px;
  padding: 16px 0;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.values {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.value {
  text-align: center;
}

.data-section {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  background-color: #c1dbe3;
  padding: 10px;
}

.label {
  display: block;
  font-size: 0.85em;
  color: #31545b;
}

.data {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4px;
  color: #31545b;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.scroll-btn {
  background-color: transparent;
  color: black;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

h3{
  font-size: 20px;
  color: #31545b;
}