/* ===== Container principale ===== */
.building-info-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  margin: 20px;
  flex-direction: row;
}

/* ===== Contenitore info + charts ===== */
.container-info-chart {
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: center;
  flex-direction: column;
}

/* ===== Card generica ===== */
.card-building {
  background-color: #ffffff;
  /* bianco come nel tuo screenshot */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* flex: 1 1 300px;  minimo 300px, cresce se c’è spazio */
  width: 100%;
  /* larghezza massima */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ===== Card info edificio ===== */
.building-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.building-info .left,
.building-info .right {
  flex: 1;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* ===== Titolo e link ===== */
.title-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.view-link,
.edit-link {
  text-decoration: none;
  color: #2f4f4f;
  /* grigio scuro simile al tuo screenshot */
  font-size: 0.9rem;
  margin-left: 10px;
}

.view-link:hover,
.edit-link:hover {
  text-decoration: underline;
}

/* ===== Sezione Bills ===== */
.bills-card .bill-types {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.bills-card .bill {
  flex: 1 1 100px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #c1dbe3;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s;
  /* <- transizione qui */
}

/* effetto hover */
.bills-card .bill:hover {
  transform: translateY(-5px);
  /* sposta il bottone verso l'alto */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* ombra per effetto sollevato */
}


/* ===== Charts ===== */
.charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Navigazione anno */
.year-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.selected-year {
  font-size: 22px;
}

.btn-year {
  color: #2f4f4f;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
}

.btn-year:hover {
  transform: translateY(-5px);
  /* sposta il bottone verso l'alto */
}

/* Card charts */
.card-building-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  /* text-align: center; */
  margin-bottom: 15px;
}

.toggle-container button {
  padding: 6px 12px;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2d6cdf;
  color: white;
  font-weight: 400;
}

/* EXPAND CHART */
.pie-line-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pie-line-header h3 {
  margin: 0;
}

.btn-expand {
  padding: 4px 8px;
  border-radius: 6px;
  /* border: 1px solid #000000; */
  border: none;
  cursor: pointer;
  background-color: #fefefe;
  color: #000000;
}

/* pie */
.pie-wrapper {
  max-width: 300px;
  height: 300px;
  margin: 20px auto;
  position: relative;
}

.card-building-chart.expanded {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-building-chart.expanded .card-building-body {
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}

.card-building-chart.expanded .pie-wrapper {
  max-width: 500px;
  height: 500px;
}

/* line */
.line-wrapper {
  max-width: 350px;
  height: 150px;
  margin: 20px auto;
}

.card-building-chart.expanded {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-building-chart.expanded .card-building-body {
  width: 85%;
  max-width: 900px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}

.card-building-chart.expanded .line-wrapper {
  max-width: 800px;
  height: 500px;
}


/* Loader and errors */
.loading,
.error {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}

/* btn back */
.back-button {
  margin-top: 20px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .building-info {
    flex-direction: column;
  }

  .card-building {
    max-width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .building-info-container {
    margin-left: 250px;
  }

  .back-button {
    margin-left: 250px;
  }
}